{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Système de Gestion des Etablissement Scolaire{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <div class="row  mt-3">
            <div class="col-xl-4 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h2 class="mb-0 extra-large-title mt-1">Total </h2>
                        </div>
                        <p class="mt-2">.</p>
                        <div class="d-lg-flex align-items-baseline justify-content-between mt-3">
                            <div class="d-flex align-items-center">
                                <div class="icon-bg-square">
                                    <i class="fa fa-users fa-3x"></i>
                                </div>
                                <h1 class="text-dark font-weight-bold">{{ total_inscrit|number_format(0,'','.') }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body py-4">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h2 class="mb-0 extra-large-title mt-1">Garçons </h2>
                            <div class="badge badge-pill badge-info">{{ pourcent_garcon|number_format(0,'','') }}%</div>
                        </div>
                        <p class="mt-2">.</p>
                        <div class="d-lg-flex align-items-baseline justify-content-between mt-3">
                            <div class="d-flex align-items-center">
                                <div class="icon-bg-square">
                                    <i class="fa fa-male fa-3x"></i>
                                </div>
                                <h1 class="text-dark font-weight-bold">{{ total_garcon }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body py-4">
                        <div class="d-flex flex-wrap justify-content-between">
                            <h2 class="mb-0 extra-large-title mt-1">Filles</h2>
                            <div class="badge badge-pill badge-danger">{{ pourcent_fille|number_format(0,'','') }}%</div>
                        </div>
                        <p class="mt-2">.</p>
                        <div class="d-lg-flex align-items-baseline justify-content-between mt-3">
                            <div class="d-flex align-items-center">
                                <div class="icon-bg-square">
                                    <i class="fa fa-female"></i>
                                </div>
                                <h1 class="text-dark font-weight-bold">{{ total_fille }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-dark card-title">Derniers inscrits</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                {% for inscrit in inscrits|slice(0,7) %}
                                    <tr>
                                        <td class="border-0 pt-0 pl-0">
                                            <div class="d-flex">
                                                <div class="mr-3">
                                                    <img class="img-sm rounded-circle mb-md-0" src="assets/images/avatar.png" alt="profile image">
                                                </div>
                                                <div>
                                                <h6 class="text-dark mb-1">{{ inscrit.eleve.nom|upper }} {{ inscrit.eleve.prenoms|title }}</h6>
                                                    <div>{{ inscrit.classe.libelle }}</div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="border-0 pt-0">
                                            <a href="{{ path('inscription_show', {'id': inscrit.id}) }}"><i class="fa fa-print"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 d-flex grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-dark card-title">Derniers versements</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="border-0 pt-0 pl-0"> #</th>
                                    <th class="border-0 pt-0"> Nom & prenoms</th>
                                    <th class="border-0 pt-0"> Classe </th>
                                    <th class="border-0 pt-0">Versés</th>
                                    <th class="border-0 pt-0"> Restants</th>
                                    <th class="border-0 pt-0">Date</th>
                                    <th class="border-0 pt-0"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for versement in versements|slice(0,10) %}
                                    <tr>
                                        <td class="pl-0">{{loop.index}}</td>
                                        <td>{{versement.eleve.nom|upper}} {{ versement.eleve.prenoms|title }}</td>
                                        <td>{{versement.classe.libelle}}</td>
                                        <td>{{versement.verse|number_format(0,'','.')}}</td>
                                        <td>{{versement.restant|number_format(0,'','.')}}</td>
                                        <td>{{versement.createdAt|date('Y-m-d H:i:s')}}</td>
                                        <td><a href="{{ path('versement_show', {'id': versement.id}) }}"><i class="fa fa-print"></i></a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('assets/js/Chart.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/js/dashboard.js')) }}"></script>
{% endblock %}