{% extends 'base.html.twig' %}

{% block title %}Inscription index{% endblock %}



{% block body %}
    <div class="content-wrapper">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-12"><h4 class="card-title">Liste des inscrits</h4></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="order-listing"  class="table" style="width:100%">
                                <thead>
                                <tr>
                                    <th class="text-center">Id</th>
                                    <th class="text-center">Annee</th>
                                    <th class="text-center">Classe</th>
                                    <th class="text-center">Elève</th>
                                    <th class="text-center">Verse</th>
                                    <th class="text-center">actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for inscription in inscriptions %}
                                    <tr class="text-center">
                                        <td class="text-center"># {{ loop.index }}</td>
                                        <td class="text-center">{{ inscription.annee }}</td>
                                        <td class="text-center">{{ inscription.classe.libelle }}</td>
                                        <td class="text-left">{{ inscription.eleve.nom|upper }} {{ inscription.eleve.prenoms|title }}</td>
                                        <td class="text-right pr-1">{{ inscription.verse|number_format(0,'','.') }}</td>
                                        <td class="text-center">
                                            <a href="{{ path('inscription_show', {'id': inscription.id}) }}"><i class="fa fa-eye"></i></a> |
                                            <a href="{{ path('inscription_edit', {'id': inscription.id}) }}"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6" class="text-center"><em>Aucun élève n'est inscrit</em></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/css/dataTables.bootstrap4.css')) }}">
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <scprit src="{{ absolute_url(asset('assets/js/jquery.dataTables.js')) }}"></scprit>
    <scprit src="{{ absolute_url(asset('assets/js/dataTables.bootstrap4.js')) }}"></scprit>
    <scprit src="{{ absolute_url(asset('assets/js/data-table.js')) }}"></scprit>
{% endblock %}

