{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Gestion des versments{% endblock %}



{% block body %}
    <div class="content-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Liste des versements {{ annee }}</h4>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="datatable-buttons" class="table table-striped table-bordered text-white" cellspacing="0" width="100%">
                                <thead>
                                <tr>
                                    <th class="text-center">Id</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center">Classe</th>
                                    <th class="text-center">Elève</th>
                                    <th class="text-center">Montant versé</th>
                                    <th class="text-center">Montant restant</th>
                                    <th class="text-center">actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for versement in versements %}
                                    <tr class="text-center">
                                        <td class="text-center"># {{ loop.index }}</td>
                                        <td class="text-center">{{ versement.createdAt|date('Y-m-d H:i:s') }}</td>
                                        <td class="text-center">{{ versement.classe.libelle }}</td>
                                        <td class="text-left">{{ versement.eleve.nom|upper }} {{ versement.eleve.prenoms|title }}</td>
                                        <td class="text-right pr-1">{{ versement.verse|number_format(0,'','.') }}</td>
                                        <td class="text-right pr-1">{{ versement.restant|number_format(0,'','.') }}</td>
                                        <td class="text-center">
                                            <a href="{{ path('versement_show', {'id': versement.id}) }}"><i class="fa fa-eye"></i></a> |
                                            <a href="{{ path('versement_edit', {'id': versement.id}) }}"><i class="fa fa-edit"></i></a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6" class="text-center"><em>Aucun versement n'a été effectué cette année</em></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/backoffice/plugins/datatables/dataTables.bootstrap4.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/backoffice/plugins/datatables/buttons.bootstrap4.min.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('assets/backoffice/plugins/datatables/responsive.bootstrap4.min.css')) }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/jquery.dataTables.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/dataTables.bootstrap4.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/dataTables.buttons.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/buttons.bootstrap4.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/jszip.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/pdfmake.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/vfs_fonts.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/buttons.html5.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/buttons.print.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/buttons.colVis.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/dataTables.responsive.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/plugins/datatables/responsive.bootstrap4.min.js')) }}"></script>
    <script src="{{ absolute_url(asset('assets/backoffice/pages/datatables.init.js')) }}"></script>
{% endblock %}

